" Variable printing
nnoremap ,cprint <S-0>v$hyistd::cout << "<Esc>pa: " << <Esc><S-a> << '\n';<Esc> 

" Main function
nnoremap ,cmain iint main(int argc, char** argv)<cr>{<cr>}<Esc>

" Arbitrary function
nnoremap ,cfun iint fun(int argc, char** argv)<cr>{<cr>}<Esc>
