" Variable printing
nnoremap ,cprint <S-i>std::cout << <Esc><S-a> << '\n';<Esc>

" Main function
nnoremap ,cmain iint main(int argc, char** argv)<cr>{<cr>}<Esc>

" Arbitrary function
nnoremap ,cfun iint fun(int argc, char** argv)<cr>{<cr>}<Esc>
